.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 250px;
  height: 250px;
}
.not-found-heading {
  color: #5a7184;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 700;
}
.not-found-description {
  color: #c3cad3;
  font-size: 20px;
  font-family: 'Roboto';
}
